# Pliki systemowe
*.pyc
__pycache__/
.env
images/

# Pliki edytora
.vscode/
.idea/

# Pliki systemowe Windows
Thumbs.db
.DS_Store

# Pliki Streamlit
.streamlit/

# Pliki bazy danych i zapytań
*.sql
*.bak
*.mdf
*.ldf

# Ignorowanie konkretnego pliku
SQLQuery1.sql
